@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
body{
    margin-top: 70px;
}
.navbar-brand{
    width: 80%;
    margin: 0;
    padding: 0;
}
.bg{
    background-image: url("../bg.JPG");
    background-repeat: no-repeat; 
}
/*Jumbotron*/
.jumbotron{
    background: transparent;
    color: #fff;
    height: 800px;
}
.jumbotron h1{
    font-size: 2em;
}
.jumbotron p{
    color: #fff;
    margin: 0;
    padding: 10px 0;
    font-size: 1em;
}
.jumbotron h2{
    padding-top: 20px;
}
h2~span{
    color: #F1B802;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}
.jumbotron h3{
    margin: 0;
    padding-top: 30px;  
}
.giz{
    padding-top: 50px;
    width: 60%;
}
/*Menu*/
.navbar{
    background: transparent;
    border-bottom: none;
    padding: 10px 0;
    transition: all ease-in .5s;
}
.navbar.alterarMenu{
    background: #fff;
    transition: all ease-in .5s;
}
.nav{
    color: #fff;
    font-size: 1.5em;
    transition: all ease-in .5s;
    border-bottom: none;
}
.navbar-inverse .navbar-nav>li>a{
    color: #FF8420;
    transition: all ease-in .5s;
}